---
layout: base.njk
title: Case Studies | CorruptCache
permalink: /case-study/index.html
---



<main class="container">
  <div class="terminal-window">
    <h2>[DEPLOYMENTS]</h2>

    {% for study in case_studies | limit(3) %}
    <div class="project {% if study.is_placeholder %}placeholder{% endif %}">
      <div class="project-header">
        <h3>{{ study.title }}</h3>
        {% if not study.is_placeholder %}
        <div class="project-links">
          <a href="{{ study.url }}" rel="noopener noreferrer">Full Case Study</a>
          {% if study.blog_url %}
          <a href="{{ study.blog_url }}" target="_blank" rel="noopener noreferrer">Related Blog Post</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      <p>{{ study.description }}</p>
      
      {% if not study.is_placeholder %}
      <div class="tech-stack">
        {% for tech in study.tech_stack %}
        <span class="tech-stack-item">{{ tech }}</span>
        {% endfor %}
      </div>
      <div class="case-study">
          <h4>Security Case Study</h4>
          <p><strong>The Problem:</strong> {{ study.problem }}</p>
          <p><strong>The Solution:</strong> {{ study.solution }}</p>
      </div>
      {% else %}
      <div class="case-study">
          <p><strong>Coming Soon...</strong></p>
      </div>
      {% endif %}
    </div>
    {% endfor %}

  </div>
</main>

