---
layout: base.njk
title: All Tags
permalink: /tags/index.html
---

<div class="container">
  <main>
    <h1>All Tags</h1>
    <div class="terminal-window">
      <ul class="sidebar-list">
        {% for tag in collections.tagList %}
          <li><a href="/tags/{{ tag | slugify }}/">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </main>
</div>
